
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}


.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-size: 14px;
  margin: 10px 0 5px;
  display: block;
  color: #444;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}
