.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.header-simple {
  background-color: #004b8d;
  color: white;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  align-items: center;
}

.registro-form {
  background: white;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.registro-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #444;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Fila de inputs relacionados */
.input-row {
  display: flex;
  gap: 1rem;
}

.input-row > div {
  flex: 1;
}

.btn-registrar {
  margin-top: 2rem;
  width: 100%;
  background-color: #004b8d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-registrar:hover {
  background-color: #003366;
}

.site-name-simple{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    align-items: center;
}

.container-header-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
 }