.reportesOrganismo-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo */
}

.reportesOrganismo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centra las cards horizontalmente */
  margin-bottom: 20px;
}

.reportesOrganismo-buttons {
  margin-top: 20px;
}

.reportesOrganismo-btnVolver {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #2c3e50; /* azul oscuro */
  color: white;
  cursor: pointer;
}

.reportesOrganismo-btnVolver:hover {
  background-color: #1a252f;
}
